<div id="rating">
    <% unless @user_rating.blank? %>
      <form id="form3A" action="/user/rate_presentation">
          <script type="text/javascript">
              $(function() {
                $('.auto-submit-star').rating({
                  callback: function(value, link) {

                    $(this.form).ajaxSubmit({target: '#rate'});
                  }
                });
              });
          </script>
          <table>
              <tr>
                  <td class="criteria"><span>Overall Rating : </span></td>
                  <td class="rating_for_criteria">
                      <input class="auto-submit-star" type="radio" name="rating_value_overall" value="1" <%= @user_rating[:overall] >=1 ?  "checked='checked'": "" %>/>
                      <input class="auto-submit-star" type="radio" name="rating_value_overall" value="2" <%= @user_rating[:overall] >=2 ?  "checked='checked'": "" %>/>
                      <input class="auto-submit-star" type="radio" name="rating_value_overall" value="3" <%= @user_rating[:overall] >=3 ?  "checked='checked'": "" %>/>
                      <input class="auto-submit-star" type="radio" name="rating_value_overall" value="4" <%= @user_rating[:overall] >=4 ?  "checked='checked'": "" %>/>
                      <input class="auto-submit-star" type="radio" name="rating_value_overall" value="5" <%= @user_rating[:overall] >=5 ?  "checked='checked'": "" %>/>
                  </td>

                  <td class="average_rating"><span>Average</span></td>
              </tr>
              <%= hidden_field_tag 'presentation', @presentation.id %>
              <%= render :partial => "rating_for_criteria", :locals => {:criteria => :body_language} %>
              <%= render :partial => "rating_for_criteria", :locals => {:criteria => :voice} %>
              <%= render :partial => "rating_for_criteria", :locals => {:criteria => :message} %>
              <%= render :partial => "rating_for_criteria", :locals => {:criteria => :slides} %>
          </table>
      </form>
    <% end %>
</div>
