<div id="presentation">
    <%= @viddler_video.embed_code(:player_type => 'player', :width => 400, :height => 400, :autoplay => 't') %>
    <div id="description">
        <div><span>Title : </span><%= @presentation.title %></div>
        <div><span>Description : </span><%= @presentation.description %></div>
        <% unless @presentation.purpose.blank? %>
            <div><span>Purpose : </span><%= @presentation.purpose %></div>
        <% end %>
    </div>
</div>

<div class="js-kit-rating" path="presentation<%= @presentation.id%>/criteria/slides" title="slides of <%= @presentation.title %> presentation"
     view="combo"></div>
<div class="js-kit-rating" path="presentation<%= @presentation.id%>/criteria/body_language" title="body language of <%= @presentation.title %> presenter"
     view="combo"></div>
<div class="js-kit-rating" path="presentation<%= @presentation.id%>/criteria/voice" title="voice of the presenter of <%= @presentation.title %> presentation"
     view="combo"></div>
<div class="js-kit-rating" path="presentation<%= @presentation.id%>/criteria/message" title="message conveyed in <%= @presentation.title %> presentation"
     view="combo"></div>
<script src="http://js-kit.com/ratings.js"></script>
<div class="js-kit-comments" permalink="http://pitchreview.com/presentation/<%= @presentation.id%>"></div>
<script src="http://js-kit.com/comments.js"></script>
