<head>
    <title>Presentah</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="Presentah - sharing presentations"/>

    <link rel="Stylesheet" href="/stylesheets/home.css" type="text/css" media="screen"/>
    <link rel="Stylesheet" href="/stylesheets/jquery.rating.css" type="text/css" media="screen"/>

    <script src="/javascripts/jquery.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.form.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.rating.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.MetaData.js" type="text/javascript"></script>
</head>
<body>
<div id="heading"><span>Presentah</span></div>
<div id="header">
    <%= link_to 'Home', '/' %>
    <%= link_to 'Channel', '/user/review_presentations' %>
    <%= link_to "My Presentah", '#' %>
    <%= link_to 'Upload', post_presentation_path %>
</div>
<span id="sign_up_link">
    <% if session[:user] %>
    <span>Hi <%= link_to(session[:user].username, '#') %> | <%= link_to("Sign Out", '/user/sign_out') %></span>
    <% else %>
    <%= link_to("Sign In", '/user/sign_in') %>
    <% end %>
</span>

<div class="clearFloat"></div>
<div class="underline"></div>
<div id="page_content">
    <%= yield %>
    <div class="push"></div>
</div>
<div id="footer">
    <div class="underline"></div>
</div>
</body>



